<!-- Start Mission section -->
<section  id="mission" class="deneb_project section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Mission</h2>
                    <h4>
                        Our mission is to break the cycle of violence and intergenerational trauma in urban communities by addressing the whole person through mental and social services.
                    </h4>
				</div>
			</div>
		</div>

		

	</div>
</section>
<!-- End Mission section -->