<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="intro about_v1">
		<div class="section_title text-center vision-section wow fadeInLeft">
			<div class="wow fadeInRight">
				<h2 class="vision_title">Vision</h2>
				<p class="vision-text">To cultivate a society where everyone is free from violence and empowered in their mental, physical, and spiritual well-being.</p>
            </div>		
		</div>
	</div>

</section>
<!-- End deneb_banner section-->