<!-- Start deneb_project section -->
<section class="deneb_project section_padding">
	<div class="shape_v3">
		<img src="/assets/images/shape/shape_10.png" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Team</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
					{% for member in site.team %}
					<div class="col mb-4 image-column">
						<div class="card h-100 mw-18-rem" >
							<div style="background-image:url('/assets/images/headshots/nana_o.jpg');" class="card-img-top team-member-image" alt="{{member.name}}"></div>
							<div class="card-body">
								<h5 class="card-title">{{member.name}}</h5>
								<h6 class="card-title">{{member.title}}</h6>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End deneb_project section -->