<!-- Start values section -->
<section id="values" class="deneb_project section_padding" style="background-image: url(/assets/images/footer_bg.png); background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Values</h2>
				</div>
			</div>
		</div>

		<!-- FAITH: start-->
		<!-- Margin-bottom-5, but move to margin-bottom-0 when medium-->
		<div class="row align-items-center mobile-version mb-5 mb-lg-0">
			<div class="col-lg-7 order-2 order-lg-1">
				<div class="deneb_img_box value_img_row wow fadeInLeft"> 
					<img src="../assets/images/values/FUL_faith.jpg" class="rounded value_img_box" alt="faith image">
				</div>
			</div>

			<!--order-1, but move to order-2 when lg -->
			<div class="col-lg-5 order-1 order-lg-2 mb-3 mb-lg-0">
				<div class="deneb_content_box wow fadeInRight mobile-text-version">
					<h3>Faith</h3>
					<p>We entrust the spirit within to transform intergenerational trauma.</p>
				</div>
			</div>
		</div>
		<!-- FAITH: End-->

		<!-- Unity: Start-->
		<div class="row align-items-center mobile-version mb-5 mb-lg-0">
			<div class="col-lg-7 mb-3 mb-lg-0">
				<div class="deneb_content_box wow fadeInLeft mobile-text-version">
					<h3>Unity</h3>
					<p class="value-text-box">We embody every individual’s unique differences to foster a strong community full of love and creativity.</p>
				</div>
			</div>

			<div class="col-lg-5 mb-3 mb-lg-0">
				<div class="deneb_img_box  value_img_row wow fadeInRight mobile-text-version"> 
					<img src="../assets/images/joel-muniz-y3ZY6qFln_g-unsplash.jpg" class="rounded value_img_box" alt="faith image">
				</div>
			</div>
		</div>
		<!-- Unity: End-->


		<!-- Holistic Healing: Start-->
		<div class="row align-items-center mobile-version mb-5 mb-lg-0">
			<div class="col-lg-7 order-2 order-lg-1">
				<div class="deneb_img_box value_img_row wow fadeInLeft"> 
					<img src="../assets/images/values/FUL_healing.jpg" class="rounded value_img_box" alt="faith image">
				</div>
			</div>
			
			<div class="col-lg-5 order-1 order-lg-2 mb-3 mb-lg-0">
				<div class="deneb_content_box wow fadeInRight mobile-text-version ">
					<h3>Holistic Healing</h3>
					<p>We embrace healing by recognizing the interconnectedness of our minds, bodies, and spirits.</p>
				</div>
			</div>
		</div>
		<!-- Holistic Healing: End-->

		<!-- Community: Start-->
		<div class="row align-items-center mobile-version mb-5 mb-lg-0">
			<div class="col-lg-7  mb-3 mb-lg-0">
				<div class="deneb_content_box wow fadeInLeft mobile-text-version">
					<h3>Community</h3>
					<p>We empower individuals to work together to break the cycle of trauma through love.</p>
				</div>
			</div>

			<div class="col-lg-5">
				<div class="deneb_img_box value_img_row wow fadeInRight"> 
					<img src="../assets/images/values/FUL_community.jpeg" class="rounded value_img_box" alt="faith image">
				</div>
			</div>
		</div>
		<!-- Community: End -->
		
		<!-- Resiliency: Start-->
		<div class="row align-items-center mobile-version mb-5 mb-lg-0">
			<div class="col-lg-7 order-2 order-lg-1">
				<div class="deneb_img_box value_img_row wow fadeInLeft"> 
					<img src="../assets/images/values/FUL_resiliency.jpeg" class="rounded value_img_box" alt="faith image">
				</div>
			</div>

			<div class="col-lg-5 order-1 order-lg-2 mb-3 mb-lg-0">
				<div class="deneb_content_box wow fadeInRight mobile-text-version">
					<h3>Resiliency</h3>
					<p>We encourage self awareness to equip individuals with the coping skills and emotional intelligence to navigate the many different worlds and communities they will interact with.</p>
				</div>
			</div>
		</div>
		<!-- Resiliency: End -->

	</div>
</section>
<!-- End values section -->