.card-img-top.team-member-image {
  height: 287px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.image-column {
  min-width: 18rem;
}

.me-18-rem {
  width: 18rem;
}

.circle-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: top;
}

.event-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  .card-body {
    padding: 0.75rem;
  }
}

.mx-w-600 {
  max-width: 600px;
}
