.card-img-top.team-member-image {
  height: 287px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.image-column {
  min-width: 18rem;
}

.me-18-rem {
  width: 18rem;
}
